<form method="post" action="{{ path('app_task_schedule_delete', {'id': task_schedule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_schedule.id) }}">
    <button class="btn">Delete</button>
</form>
